body {
  font-family: "Inter", sans-serif;
}
.weather-app {
  width: 700px;
  margin: 0 auto;
}
div.mt-5.p-4.border {
  border-radius: 20px;
}
h3.mb-3.title {
  margin-left: 10px;
  letter-spacing: 1px;
  text-transform: bold;
}
.btn.btn-primary.w-100.mx-auto {
  background-color: #efefef;
  border: none;
  color: #807979;
}
.btn.btn-primary.w-100.mx-auto:hover {
  background-color: #807979;
  color: #efefef;
}
::placeholder {
  letter-spacing: 2px;
}
div.day-weather {
  padding-left: 18px;
}
h4.city-name {
  font-size: 18px;
  letter-spacing: 1px;
}
li.datentime.ms-2 {
  list-style: none;
  font-size: 13px;
  letter-spacing: 1px;
}
span.temperature {
  font-size: 45px;
}
sup {
  font-size: 18px;
  color: #807979;
}
a.units {
  text-decoration: none;
}
a.units.active {
  text-decoration: none;
  color: #807979;
  cursor: default;
}
a.units.active:hover {
  text-decoration: none;
}
img.ms-5.text-end.bigemoji {
  /* font-size: 45px; */
  display: inline;
  width: 100px;
  padding-right: 40px;
  margin-top: -5px;
}
p.ms-2.description {
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: capitalize;
}
span.ms-2.text-end.extras {
  font-size: 12px;
  letter-spacing: 1px;
}
div.col-md-3.search-button {
  display: block;
  margin: 0 auto;
}
section.border.mb-3 {
  border-radius: 10px;
}
h5.text-center.date {
  font-size: 16px;
}
p.text-center.minmax {
  font-size: 15px;
}
p.results.text-muted {
  font-size: 13px;
}
span.forecast-min {
  opacity: 0.5;
}
p.github {
  font-size: 13px;
  letter-spacing: 1px;
}
